**/.svn/
bin/
**/.libs/
**/.deps/
build-debian.sh
*.lo
*.la
*.o
*.obj
*.a
*.lib
*.so
core/bgdc/src/bgdc
core/bgdi/src/bgdi
tools/moddesc/moddesc
**/*.log
**/Makefile
**/Makefile.in
**/aclocal.m4
**/config.guess
**/config.log
**/config.sub
**/config.status
**/depcomp
**/install-sh
**/ltmain.sh
**/missing
**/libtool
**/autom4te.cache/
**/m4/
**/compile
**/configure
.vscode/
